# API Backend NestJS
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1

# Supabase Auth Configuration (From Supabase Project Settings -> API)
EXPO_PUBLIC_SUPABASE_PROJECT_REF=bjktawrigqjshmayutac
EXPO_PUBLIC_SUPABASE_URL=https://bjktawrigqjshmayutac.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

